* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#dropImage1 {
    margin: 20px;
    border: 1px solid #000;
    height: 45vh;
    width: 50vw;
}
#dropImage2 {
    margin: 20px;
    border: 1px solid #000;
    height: 45vh;
    width: 50vw;
}
#dropImage3 {
    margin: 20px;
    border: 1px solid #000;
    height: 45vh;
    width: 50vw;
}
#dropImage4 {
    margin: 20px;
    border: 1px solid #000;
    height: 45vh;
    width: 50vw;
}
#dropImage5 {
    margin: 20px;
    border: 1px solid #000;
    height: 45vh;
    width: 50vw;
}
#dropImage6 {
    margin: 20px;
    border: 1px solid #000;
    height: 45vh;
    width: 50vw;
}
#dropImage7 {
    margin: 20px;
    border: 1px solid #000;
    height: 45vh;
    width: 50vw;
}
#dropImage8 {
    margin: 20px;
    border: 1px solid #000;
    height: 45vh;
    width: 50vw;
}
#dropImage9 {
    margin: 20px;
    border: 1px solid #000;
    height: 45vh;
    width: 50vw;
}
#dropImage10 {
    margin: 20px;
    border: 1px solid #000;
    height: 45vh;
    width: 50vw;
}
p {
    width: 400px;
}