* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

table {
  width: 100%;
  border: 1px;
  border-color: black;
  border-style: solid;
  border-collapse: collapse;
}

td, th {
  padding: 5px;
  text-align: left;
  border: 1px;
  border-color: black;
  border-style: solid;
}
td:first-child, td:nth-child(3), th:first-child, th:nth-child(3) {
  text-align: right;
}
td:last-child, th:last-child {
  text-align: center;
}

form {
    margin: auto;
    padding: 10px;
    border: 1px;
    border-color: rgb(95, 123, 247);
    background-color: rgb(114, 165, 156);
    border-style: solid;
    width: 50vw;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
form > div > div {
    display: flex;
    text-align: center;
    padding: 5px;
}
form > div > div > label {
    display: block;
    text-align: right;
    width: 30%;
    margin-right: 10px;
}
form > div > div > input {
    display: block;
    margin: auto;
    border: 1px solid;
    background-color: rgb(211, 250, 240);
    border-radius: 10px;
    width: 50%;
}
form > div > div > input[type="submit"] {
    color: white;
    background-color: rgb(70, 116, 108);
}