* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(31, 31, 31);
}
body > header {
  flex-direction: row;
  row-gap: 40vw;
  height: 15vh;
  line-height: 14vh;
  background-color: rgb(31, 31, 31);
}
body > header > h1 {
  display: flex;
  align-self: center;
  justify-content: center;
  width: auto;
  font-size: xxx-large;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color:rgb(231, 231, 231) ;
}
body > header > div {
  /* margin-top: auto;
  margin-bottom: auto; */
  position: absolute;
  height: 80px;
  width: 100%;
  top: 0;
  text-align: right;
}
body > header > div #settings {
  /* margin-top: 4vh; */
  /* margin-bottom: 4vh; */
  /* margin-right: 20px;
  margin-left: -130px;
  margin-top: 20px;
  margin-bottom: 120px; */
  display: table-cell;
  vertical-align: middle;
  height: 65px;
  width: 120px;
  background: url("./png/to.png") center no-repeat;
  background-size: 50px 50px;
  border: none;
}
body > header > div #settings:hover {
  cursor:pointer;
  background-color: rgb(43, 43, 43);
}
body > header .set {
  display: none;
}
body > header > div #login {
  /* margin-top: 4vh; */
  /* margin-bottom: 4vh; */
  /* margin-right: 20px;
  margin-bottom: 120px;
  margin-top: 20px; */
  position: relative;
  display: table-cell;
  vertical-align: middle;
  height: 10vh;
  width: 12vw;
  font-size:4vh;
  margin-right: 1vw;
  border: none;
  background: none;
  text-align: center;
  text-decoration: none;
  color: rgb(204, 204, 204);
}
body > header > div #login:hover {
  cursor:pointer;
  background-color: rgb(43, 43, 43);
}
body > nav {
  height: 8vh;
  line-height: 8vh;
}
body > nav > ul {
  display: flex;
  flex-direction: row;
  background-color: rgb(31, 31, 31);
  border-top: solid;
  border-bottom: solid;
}
body > nav > ul > li {
  width: 20vw;
  list-style-type: none;
  text-align: center;
}
body > nav > ul > li :hover {
  background-color: rgb(43, 43, 43);
}
body > nav > ul > li > a {
  display: block;
  text-decoration: none;
  color: lightblue;
}
body main {
  color: lightblue;
  width: 80vw;
  margin: auto;
  padding-top: 5vw;
  display: flex;
  flex-direction: column;
}
body main .art-container-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 4vw;
       column-gap: 4vw;
  row-gap: 4vw;
}
body main .art-container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 4vw;
       column-gap: 4vw;
  row-gap: 4vw;
}
body main .art-png {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: block;
  border-radius: 10px;
  padding: 5px;
}
body main .art {
  background-color: rgb(43, 43, 43);
  width: 38vw;
  border-radius: 10px;
}
body main .art > article > header > h3 {
  text-align: center;
}
body main .art > article > section {
  padding: 5px;
}
body > main > header {
  display: flex;
  align-self: center;
  justify-content: center;
  width: auto;
  text-align: center;
  color:lightblue;
  margin-bottom: 40px;
  margin-top: -30px;
}
body main .art-head {
  background-color: rgb(43, 43, 43);
  display: block;
  height: auto;
  padding-left: 8vw;
  padding-right: 8vw;
  width: 900px;
  /* margin-left: 300px; */
  /* margin-bottom: 50px; */
  /* margin-top: -40px; */
  border-radius: 10px;
}
body main .art-head p {
  font-size: large;
  padding-top: 15px;
  padding-bottom: 25px;
}
body main .art-head h3 {
  padding-top: 10px;
  font-size: 35px;
}
body main .art-head > header {
  padding-top: 5px;
  height: 7vh;
  line-height: 5vh;
}
body main .art-head > header > h3 {
  text-align: center;
}/*# sourceMappingURL=style.css.map */
#tu {
  width: 30%;
}