* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
}
.dark {
  background-color: rgb(43, 43, 43);
}
.light {
  background-color: rgb(179, 180, 162);
}
/* header ▼ */
.dark header {
  flex-direction: row;
  row-gap: 40vw;
  height: 15vh;
  line-height: 14vh;
  background-color: rgb(31, 31, 31);
}
.light header {
  flex-direction: row;
  row-gap: 40vw;
  height: 15vh;
  line-height: 14vh;
  background-color: rgb(179, 180, 162);
}
/* header ▲ */
body > header > div > button > button #white {
  background: url("./png/dotW.png") left no-repeat;
  position: absolute;
}
body > header > div > button > button #blue {
  background: url("./png/dotBl.png") left no-repeat;
}
body > header > div > button > button #black {
  background: url("./png/dotB.png") left no-repeat;
}
.dark > header > h1 {
  display: flex;
  align-self: center;
  justify-content: center;
  width: auto;
  font-size: xxx-large;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color:rgb(231, 231, 231) ;
}
.light > header > h1 {
  display: flex;
  align-self: center;
  justify-content: center;
  width: auto;
  font-size: xxx-large;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color:rgb(31, 31, 31);
}
body > header > div {
  position: absolute;
  height: 80px;
  width: 100%;
  top: 0;
  text-align: right;
}
.dark header > div #themeToggle {
  display: table-cell;
  vertical-align: middle;
  height: 65px;
  width: 120px;
  background: url("./png/todark.png") center no-repeat;
  background-size: 50px 50px;
  border: none;
}
.light header > div #themeToggle {
  display: table-cell;
  vertical-align: middle;
  height: 65px;
  width: 120px;
  background: url("./png/tolight.png") center no-repeat;
  background-size: 50px 50px;
  border: none;
}
.dark header > div #themeToggle:hover {
  cursor:pointer;
  background-color: rgb(43, 43, 43);
}
.light header > div #themeToggle:hover {
  cursor:pointer;
  background-color: rgb(137, 138, 124);
}
.dark header > div #login {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  height: 10vh;
  width: 12vw;
  font-size:4vh;
  margin-right: 1vw;
  border: none;
  background: none;
  text-align: center;
  text-decoration: none;
  color: rgb(204, 204, 204);
}
.light header > div #login {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  height: 10vh;
  width: 12vw;
  font-size:4vh;
  margin-right: 1vw;
  border: none;
  background: none;
  text-align: center;
  text-decoration: none;
  color: rgb(31, 31, 31);
}
.dark header > div #login:hover {
  cursor:pointer;
  background-color: rgb(43, 43, 43);
}
.light header > div #login:hover {
  cursor:pointer;
  background-color: rgb(137, 138, 124);
}
body > nav {
  height: 8vh;
  line-height: 8vh;
}
.dark nav > ul {
  display: flex;
  flex-direction: row;
  background-color: rgb(31, 31, 31);
  border-top: solid;
  border-bottom: solid;
}
.light nav > ul {
  display: flex;
  flex-direction: row;
  background-color: rgb(162, 163, 146);
  border-top: solid;
  border-bottom: solid;
}
body > nav > ul > li {
  width: 20vw;
  list-style-type: none;
  text-align: center;
}
.dark nav > ul > li :hover {
  background-color: rgb(43, 43, 43);
}
.light nav > ul > li :hover {
  background-color: rgb(137, 138, 124);
}
.dark nav > ul > li > a {
  display: block;
  text-decoration: none;
  color: lightblue;
}
.light nav > ul > li > a {
  display: block;
  text-decoration: none;
  color: rgb(31, 31, 31);
}
.dark main {
  color: lightblue;
  width: 80vw;
  margin: auto;
  padding-top: 5vw;
  display: flex;
  flex-direction: column;
}
.light main {
  color: rgb(31, 31, 31);
  width: 80vw;
  margin: auto;
  padding-top: 5vw;
  display: flex;
  flex-direction: column;
}
#art-container-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 4vw;
       column-gap: 4vw;
  row-gap: 4vw;
}
#art-png {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: block;
  border-radius: 10px;
  padding: 5px;
}
.dark #art {
  background-color: rgb(43, 43, 43);
  width: 38vw;
  border-radius: 10px;
}
.light #art {
  background-color: rgb(179, 180, 162);
  width: 38vw;
  border-radius: 10px;
}
.dark #art > article > header  {
  text-align: center;
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
}
.light #art > article > header  {
  text-align: center;
  background-color: rgb(162, 163, 146);
  border-radius: 10px;
}
#art > article > section {
  padding: 5px;
}
.dark main > header {
  display: flex;
  align-self: center;
  justify-content: center;
  width: auto;
  text-align: center;
  color:lightblue;
  margin-bottom: 40px;
  margin-top: -30px;
  background-color: rgb(43, 43, 43);
  display: block;
  height: auto;
  padding-left: 8vw;
  padding-right: 8vw;
  width: 900px;
  border-radius: 10px;
}
.light main > header {
  display: flex;
  align-self: center;
  justify-content: center;
  width: auto;
  text-align: center;
  color:rgb(26, 26, 26);
  margin-bottom: 40px;
  margin-top: -30px;
  background-color: rgb(179, 180, 162);
  display: block;
  height: auto;
  padding-left: 8vw;
  padding-right: 8vw;
  width: 900px;
  border-radius: 10px;
}
.light main > header > div > header, .light header{
  background-color: rgb(162, 163, 146);
}
body > main > header > div > p {
  font-size: large;
  padding-top: 15px;
  padding-bottom: 25px;
  line-height: 2vh;
}
/* body > main > header > div {
  background-color: rgb(169, 170, 153);
  border-radius: 10px;
} */
body > main > header > div > header {
  padding-top: 5px;
  height: 7vh;
  line-height: 5vh;
  border-radius: 10px;
}
#tu {
  width: 30%;
}
h3 {
  font-size: 3vh;
}
#h3p {
  line-height: 10vh;
}
#h3pl {
  line-height: 1vh;
}