* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: wheat;
}

body > header {
    height: 10vh;
    line-height: 10vh;
}
body > header > h1 {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0px 0px 15px rgb(138, 0, 143), 2px 2px 2px rgb(111, 0, 255), -2px -2px 2px #040;
}

main > div {
    width: 50vw;
    margin: auto;
    padding: 20px;
    text-align: justify;
    margin-top: 100px;
    box-shadow: 0px 0px 20px 10px #460080 inset;
    border: 1px solid #771a94;
    border-radius: 15px;
}

body > header > p > button {
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    box-shadow: 0px 0px 20px 10px #460080;
    background-color: white;
}

body > main > img {
    padding: 10px;
    display: table-row;
    margin: auto;
    box-shadow: 0px 0px 50px 5px #000000 inset;
}
body > main > img:hover {
    width: 300px;
    height: 300px;
}

body > footer {
    text-align: center;
}
ul {
    display: none;
}
body > header > p > button:hover {
    margin-left: 200px;
}