* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body > header {
  height: 10vh;
  line-height: 10vh;
  text-align: center;
}
body > nav {
  height: 5vh;
  background-color: #ccc;
}
body > nav > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
body > nav > ul > li {
  width: 10vw;
}
body > nav > ul > li a {
  display: block;
  text-align: center;
  height: 5vh;
  line-height: 5vh;
  text-decoration: none;
  color: #235;
  cursor: default;
}
body > nav > ul > li:hover {
  background-color: #def;
}
body > nav > ul > li:hover > ul {
  display: block;
}
body > nav > ul > li > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: absolute;
  background-color: #ccc;
  display: none;
}
body > nav > ul > li > ul > li {
  width: 10vw;
}
body > nav > ul > li > ul > li:hover {
  background-color: #def;
}
body > footer {
  height: 5vh;
  line-height: 5vh;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
}
main > aside {
  width: 15vw;
  text-align: justify;
  padding: 5px;
}
main > aside > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
main > aside > ul > li {
  width: 100%;
}
main > aside > ul > li a {
  display: block;
  text-align: center;
  height: 5vh;
  line-height: 5vh;
  text-decoration: none;
}
main > aside > ul > li a:link {
  color: #975;
  background-color: #fff;
}
main > aside > ul > li a:visited {
  color: #543;
  background-color: #ddd;
}
main > aside > ul > li a:hover {
  cursor: crosshair;
}
main > aside > ul > li a:active {
  font-weight: bold;
}
main > article {
  width: 85vw;
  padding: 5px;
}