* {
  padding: 0;
  margin: 0;
}

input {
  font-size: large;
}

section {
  padding: 10px;
  width: 70vh;
  height: 53vh;
  border: 1px solid #222;
  border-radius: 100px;
}
section > div {

  text-align: center;
}
section > div > input {
  width: 80%;

}
section > div > div > input {
  width: 20%;
  height: 11vh;
}