* {
  padding: 0;
  margin: 0;
}

input {
  font-size: large;
}

section {
  padding: 10px;
  width: 100vh;
  height: 52vh;
  border: 1px solid #222;
}
section > div {
  padding: 5px;
  text-align: center;
}
section > div > input {
  width: 40%;
  padding: 20px;
}
section > div > div > input {
  width: 10%;
  padding: 20px;
}