* {
    background-color:antiquewhite;
    box-sizing: border-box;
}

header {
    text-align: center;
}

li {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    display: block;
    height: 5vh;
    line-height: 5vh;
}

footer {
    text-align: center;
}

section > article {
    text-align: center;
}