* {
    background-color:antiquewhite;
    box-sizing: border-box;
}

header {
    text-align: center;
}

li {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    display: block;
    height: 5vh;
    line-height: 5vh;
}

div {
    -moz-column-count: 4; /* compatible with mozilla */
    column-count: 4; /* regular, non comp. with mozilla */
    -moz-column-gap: 5px;
    column-gap: 5px;
    margin-left: 8%;
}

div :hover{
    width: 95%;
}

footer {
    text-align: center;
}