* {
    background-color:antiquewhite;
    box-sizing: border-box;
}

header {
    text-align: center;
}

main > article {
    display: flex;
    padding: 5px;
}

main > article > header {
  -moz-column-span: all;
       column-span: all;
}

footer {
    text-align: center;
}

li {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    display: block;
    height: 5vh;
    line-height: 5vh;
}